.git
.gitignore
node_modules
vendor
public/hot
public/storage
storage/app/public
storage/framework/cache
storage/framework/sessions
storage/framework/views
storage/logs
bootstrap/cache
volumes
*.md
.env
.env.*
!.env.example